.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #F7F7F7;
  background: url(/public/Test\ billede.JPG) no-repeat center center/cover;
}

.orange-button {
  background-color: #ED6B2D;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.orange-button:hover {
  background-color: #DA571E;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other elements */
}

.overlay-content {
  background: #F7F7F7;
  width: 75vw;
  height: 75vh;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  z-index: 1001; /* Ensure content is above the overlay */
}

.question {
  margin-bottom: 15px;
  text-align: center;
}

.question p {
  font-weight: bold;
}

.question label {
  display: block;
  margin: 5px 0;
}